.vin{
    align-items: center;
    background-color: rgb(255, 0, 0);
    width: 600px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    
}
.flexbox{

    width: 500px;
    height: 620px;
    background-color:rgb(232, 232, 250);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.poster{
    width: 420px;
    height: 200px;
    background-color: red;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
}
.fis{
    width: 430px;
    height: 200px;
}
.scroll{   
   padding: 10px;
}
.lo{
    background-color: white;
}
.fid{
    position: relative;
    left: 50%;
    top: 26%;
    transform: translate(-50%,-50%);
    width:400px ;
    height: 345px;
    border-radius: 5px;
}
.logo{
    width: 100px;
    height: 50px;
}
.cc{
    float: right;
    position: relative;
    top: 5%;
    transform: translate(-50%,-50%);
}
.nav{
    align-items: center;
    background-color:ghostwhite;
    width: 600px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 96%;
    transform: translate(-50%,-50%);
    
}
ul{
display: inline-flex;
align-items: center;
}
ul li{
padding: 1px;
gap: 40px;

list-style: none;
}
.n1{
padding-left: 20px;
color: red;
}
.n2{
padding-left: 80px;
}
.n3{
padding-left: 100px;
}
.n4{
padding-left: 120px;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
